@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root{
    --background:#3A4663;
    --contrasttext:#FFFFFF;
    --solutionbackground:#181F33;
    --buttonsbackground: #242D44;
    --button:#EAE3DC;
    --specialbutton:#647198;
    --equalsbutton:#D03F2F;
    --buttontext:#434A59;
    --titletext:#FFFFFF;
    --boxshadow:#B3A497;
    --equaltext:#FFFFFF;
    --resetshadow:#414E73;
    --equalsshadow:#93261A;
}

[data-theme="second"]{
    --background:#E6E6E6;
    --contrasttext:#FFFFFF;
    --solutionbackground:#EEEEEE;
    --buttonsbackground:  #D2CDCD;
    --button: #E5E4E1;
    --specialbutton:#378187;
    --equalsbutton:#D03F2F;
    --buttontext:#36362C;
    --titletext:#36362C;
    --boxshadow:#A79E91;
    --equaltext:#FFFFFF;
    --resetshadow:#1B6066;
    --equalsshadow:#873901;
    
}

[data-theme="third"]{
    --background:#17062A;
    --contrasttext:#FFFFFF;
    --solutionbackground:#1E0936;
    --buttonsbackground:  #1E0936;
    --button: #331C4D;
    --specialbutton:#56077C;
    --equalsbutton:#00DED0;
    --buttontext:#FFE53D;
    --titletext:#FFE53D;
    --boxshadow:#881C9E;
    --equaltext:#1A2327;
    --resetshadow:#BE15F4;
    --equalsshadow:#6CF9F1;
}


body{
    padding: 0;
    margin: 0;
    background-color:var(--background);
}

.header{
    display: grid;
    grid-template-columns: 1fr 90px 90px;
    color: var(--titletext);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 1px;
}

.theme{
    align-self: center;
    justify-self: end;
}

.title{
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.533333px;
    color: var(--titletext);
    text-align: left;
}

.calculator-layout{
    display: grid;
    grid-template-columns: 540px;
    grid-template-rows: 50px 128px 480px;
    grid-gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.solution {
    background-color: var(--solutionbackground);
    border-radius: 10px;
}

.solution h1{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height */
    text-align: right;
    letter-spacing: -0.8px;
    color:  var(--titletext);
    margin-right: 30px;
}


.buttons{
    background-color: var(--buttonsbackground);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,64px) 64px;  
    justify-content: space-evenly;
    align-content: space-evenly;
   
}

.buttons button{
    background: var(--button);
    box-shadow: inset 0px -4px 0px var(--boxshadow);
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;  
    letter-spacing: -0.533333px;
    color: var(--buttontext)
  
}
.buttons .del{
    background: var(--specialbutton);
    box-shadow: inset 0px -4px 0px var(--resetshadow);
    border-radius: 10px;
    
    color: var(--contrasttext);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.333333px;
  
}


.buttons .reset{
    background: var(--specialbutton);
    box-shadow: inset 0px -4px 0px var(--resetshadow);
    border-radius: 10px;

    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.333333px;
    width: 227px;
    color: var(--contrasttext)
}


.buttons .equals{
    background: var(--equalsbutton);
    box-shadow: inset 0px -4px 0px var(--equalsshadow);
    border-radius: 10px;
    
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.333333px;
    width: 227px;
    margin-left: 130px;
    color: var(--equaltext)
}

.slidecontainer {
    width: 71px; 
    height: 20px;
    justify-self: end;
    align-self: center;
    padding-right: 10px;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: var(--buttonsbackground); /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 13px;
    padding-left: 5px;
    padding-right:5px;
  }
  

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 16px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: var(--equalsbutton); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;

   
  }
  
  .slider::-moz-range-thumb {
    width: 16px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }